$josef-font: 'Josefin Sans', sans-serif;
$raleway-font: 'Raleway', sans-serif;


// Colors
$white: #fff;
$lighter-white: rgba(255, 255, 255, 0.6);
$black: rgba(0,0,0,.5);
$light-orange: #f7e3ce;
$green: #05a005;
$red: #ff4949;
$blue: #2196f3;

// darker colors
$dark-green: darken($green, 15%);
$dark-red: darken($red, 25%);
